.spinner-color{
    padding: 20px 20px 20px 20px;
    font-size: 10rem;
    /*word-break: break-word;*/
    /*text-shadow: 4px 4px 4px #aaa;*/
    /*background-image: linear-gradient(89.4deg, rgba(194, 0, 39, 1) 0.8%, rgba(10, 35, 104, 1) 99.4%);*/
    background-image: linear-gradient(89.4deg, rgba(194, 0, 39, 1) 17.8%, rgba(10, 35, 104, 1) 65.4%);

    /*background: rgb(251,35,239);*/
    /*background: radial-gradient(circle, rgba(251,35,239,1) 13%, rgba(57,107,186,1) 50%, rgba(45,253,52,1) 82%);*/
    /*background-image: linear-gradient(-190deg, #d558c8 0%, #24d292 100%);*/


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}